<div class="main-container">
    <div class="user-table-content">
        <table>
            <thead>
                <tr>
                    <th>
                        Name <br>
                        <input [(ngModel)]="nameSearch" placeholder="Search" >
                    </th>
                    <th>
                        Company Name <br>
                        <input [(ngModel)]="companySearch" placeholder="Search" >
                    </th>
                    <th>
                        Designation <br>
                        <input [(ngModel)]="designationSearch" placeholder="Search" >
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users 
                | search:nameSearch:'name' 
                | search:companySearch:'company.name'
                | search:designationSearch:'company.designation'">
                    <td> {{ user.name }} <br>
                    {{ user.email }}</td>
                    <td>{{ user.company.name }}</td>
                    <td>{{ user.company.designation }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
